body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(222, 200, 224, 0.575);
    }

    h1 {
        font-family: Helvetica;
        font-size: 50px;
        color: rgb(124, 2, 2);
    }
img{
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;

}

.custom-p {
    font-weight: bold;
} 
.icon{
    width: 40px;
    padding-left: 20px;
}